# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

*.sublime*

# Markdown generation for viewing locally
README.html

docs/**/*.nc

.ipynb_checkpoints

# Denver Basin output
**/colorado/mod16mf2k.gage03
**/colorado/mod16mf2k.gage07
**/colorado/mod16mf2k._nm
**/colorado/mod16mf2k._ws
**/colorado/mod16_ssfix_wel2.bsf2
**/colorado/mod16mf2k.gage04
**/colorado/mod16mf2k.gage10
**/colorado/mod16mf2k._os
**/colorado/mod16mf2k._ww
**/colorado/mod16_ssfix_wel2.bud
**/colorado/mod16mf2k.gage05
**/colorado/mod16mf2k.gage11
**/colorado/mod16mf2k._r
**/colorado/mod16_ssfix_wel2.bdn
**/colorado/mod16_ssfix_wel2.lst
**/colorado/mod16mf2k.gage06
**/colorado/mod16mf2k.gage12
**/colorado/mod16mf2k._w
**/colorado/mod16_ssfix_wel2.bhd
**/colorado/mod16trosom._om

# Carolina output
**/carolina/1-23-07.*
**/carolina/1-23-07_NOASP.*

# Miami-Dade output
**/miami-dade/Results/
